<!DOCTYPE HTML>
<html>
  <head>
    <title>注册成功</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>注册成功</h1>
    <h2>Token:</h2>
    <p><%= locals.token %></p>
  </body>
</html>
