<!DOCTYPE HTML>
<html>
  <head>
    <title>注册</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>注册</h1>
    <form action="/auth/register" method="POST">
      <% if(locals.error) { %>
      <div class="error">
        <%= error %>
      </div>
      <% } %>
      <div>
        <label for="email">邮件</label>
        <input id="email" type="email" name="email" required="required" />
      </div>
      <div>
        <label for="password">密码</label>
        <input id="password" type="password" name="password" required="required" />
      </div>
      <div>
        <label for="passwordConfirmation">确认密码</label>
        <input id="passwordConfirmation" type="password" name="passwordConfirmation" required="required" />
      </div>
      <div>
        <input type="submit" class="button-primary" value="新增" />
      </div>
    </form>
  </body>
</html>
